html,
 body {
     margin:0;
     padding:0;
     height:100%;
 }
#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#content {
    padding-bottom:100px; /* Height of the footer element */
}
#footer {

    margin-top: 100px;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

.navbar{
    border: 0px !important;
}

.form-control{
    border-radius: 0px !important;
}

.btn{
    border-radius: 0px !important;
}

.btn-primary{
    background-color: #001973 !important;
}

.nav li a:hover{
    background-color: red !important;
    color: #ffffff !important;
}

.nav li a{
    color: #ffffff;
}

.loginDiv{
    padding-right: 20px;
    text-align: end;
}

.mahabirPun-img{
    position: absolute;
    margin-left: 0px;
}

.thank{
    margin-top: 60px;
    font-family: 'Taviraj', serif;
    font-size: 50px;
    color: red;
    font-variant: small-caps;
}

.donationInfo{
    padding: 50px;
    /*color: white;*/
    font-size: 18px;
}

.donor{
    font-size: 45px;
    font-family: 'Taviraj', serif;
    color: #001973;
    font-variant: small-caps;
}

.thankNote{
    width: 90%;
    position: relative;
    padding: 20px 70px 20px 70px;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    text-align: center;
}

.donorList{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Taviraj', serif;
    color: #ffffff;
}

.title{
    font-family: 'Taviraj', serif;
    display: inline-block;
    /*position: absolute;*/
    /*margin-left: 50px;*/
}

.gradient{
    background: rgba(73,155,234,0);
    background: -moz-linear-gradient(top, rgba(73,155,234,0) 2%, rgba(73,155,234,0.27) 28%, rgba(32,124,229,0.92) 92%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(2%, rgba(73,155,234,0)), color-stop(28%, rgba(73,155,234,0.27)), color-stop(92%, rgba(32,124,229,0.92)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,0) 2%, rgba(73,155,234,0.27) 28%, rgba(32,124,229,0.92) 92%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,0) 2%, rgba(73,155,234,0.27) 28%, rgba(32,124,229,0.92) 92%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,0) 2%, rgba(73,155,234,0.27) 28%, rgba(32,124,229,0.92) 92%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,0) 2%, rgba(73,155,234,0.27) 28%, rgba(32,124,229,0.92) 92%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}

.title hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #000000;
}

.center{
    text-align: center;
}

.paragraph{
    margin: 20px 74px 10px;
    font-family: fantasy;
    font-size: 19px;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.donation-medium{
    background-image: url("../img/stock-photo-99699559.jpg");
    background: cover;
    background-position: center;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    font-family: -webkit-pictograph;


    -webkit-box-shadow: inset 0px 0px 111px 60px rgba(0,0,0,0.53);
    -moz-box-shadow: inset 0px 0px 111px 60px rgba(0,0,0,0.53);
    box-shadow: inset 0px 0px 111px 60px rgba(0,0,0,0.53);
}

.donation-medium .col-md-3{
    text-align: center;
}

.donation-medium .col-md-3 h3{
    font-weight: 900;
    margin-bottom: 15px;
}

.donation-medium .col-md-3 h5{
    /*font-weight: 900;*/
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
}

.donation-medium .col-md-3 h4{
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 28px;
}

.donation-medium .col-md-3 h6{
    /*font-weight: 900;*/
    margin-bottom: 70px;
    font-size: 15px;
}

.goal{
    margin: 20px 0 20px 0;
}

.left{
    text-align: end;
}

.goal h3{
    text-align: center;
}

.work{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    /*margin-bottom: 40px;*/
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    background-color: #f9f9f9;
}

p{
    font-size: 17px;
}

.videos .center{
    margin: 30px 0 30px 0;
}

.support{
    background-image: url("../img/hand_with_lightbulb.jpg");
    background: cover;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 20px 0 20px 0;

    color: #ffffff;
}

.footer{
    padding: 40px 0 20px 0;
    background-color: #000000;
    color: #9fae7e;
}

.last-foot{
    padding: 10px;
    text-align: center;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #e10c0c !important;
    border-color: #337ab7 !important;
}


/*login*/


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#001973;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color: rgba(42, 39, 255, 0.80);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}



.small-news{
    height: 300px;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

.small-news :hover{
    cursor: pointer;
}

.small-news button{
    /*z-index: 3;*/
}

.backgroundOverlayBlue {
    background-color: blue;
    position:relative;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    padding: 5px;
    margin: 0px;
    color: #ffffff;
    /*z-index: 2;*/
}

.backgroundOverlayRed {
    background-color: red;
    position:relative;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
    color: #ffffff;
    /*z-index: 2;*/
}

.news-content{
    left: 0;
    bottom: 0;
    position: absolute;
}

.goal-content{
    max-height: 200px;
    overflow: hidden;
}

.language{
    position: absolute;
    top: 62px;
    left: 77px;
}


.paper{

    padding: 30px;
    background-color: #001973;
    color: #ffffff;
}

.paper a{
    /*text-decoration: none !important;*/
    color: #ffffff;
}